@import "tailwindcss";

.hero-container {
  position: relative;
  width: 100%;
  overflow: visible;
}

.hero-image {
  width: 150%;
  max-width: none;
  height: 500px;
  object-fit: cover;
  border-radius: 50% 0% 0% 50%;
  position: relative;
  margin-top: -100px;
  left: 0%;
  margin-right: -35px;
  display: block;
}

.hero-heading {
  border-radius: 0% 80% 80% 0%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  padding: 28px 45px;
  margin-left: -40px;
  margin-top: -40px;
  border: 1px solid rgba(255,255,255,0.3);
}

.hero-text {
  color: #fff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
